body {
  background-color: rgb(34, 33, 34);
  height: 100vh;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border: 2px solid red;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.para {
  position: relative;
  height: 150px;
  width: 150px;
  transform-style: preserve-3d;
}

.para img {
  width: 145px;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;

  backface-visibility: hidden;
}

.back {
  transform: rotateX(180deg);
}

@keyframes spin-back {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1980deg);
  }
}

@keyframes spin-front {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2160deg);
  }
}

button {
  cursor: pointer;
}
